body {
  background-color: #F6F6F6;
  font-family:'Open Sans', sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}
h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
section {
  border: 1px solid #e7e7e7;
  background: white;
  margin-top: 15px;
  padding: 15px;
}
.social-network {
  border: none;
  background: transparent;
  padding: 0px;
  max-width:100%;
}
.jumbotron {
  display: block;
}
.menu-bar {
  background-color: transparent;
}
.menu {
  background-color: #333;
}
.menu-items {
  color: white;
}
.image-circle {
  border: 6px solid #eee;
  border-radius: 50%;
}
.palestrante {
  margin-bottom: 15px;
  padding-top: 15px;
  border-top: 1px solid #eee;
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
  .palestrante {
    text-align: center;    
  }

  #patrocinadores .w-col, #apoiadores .w-col {
    width: 33%;
    margin-bottom: 15px;
  }
}
@media (max-width: 479px) {
  #patrocinadores .w-col, #apoiadores .w-col {
    width: 50%;
    margin-bottom: 15px;
  }
}